body {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #ffffff;
}
/* .bgImage {
    width: 100%;
    height: auto;
    background-size: cover;
    background-image: url('./assets/images/homeBackground.jpg');
  } */
