body {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* .bgImage {
  width: 100%;
  height: auto;
  background-size: cover;
  background-image: url('./assets/images/homeBackground.jpg');
} */
/* .Leaf img {
  image-resolution: cover;
  transform: translateY(-70px);
  width: 200px;
  height: 200px;
  float: left;
  transform: rotate(180deg);
} */
